* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    li {

        a {
            color: white;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}